doctype html
html
  head
    include headers/meta.pug
    include headers/links.pug
    include headers/scripts.pug
    title Main
  body
    div.py-4.text-center.container
      h1 Список пользователей
    div.container
      div.row#users
        //- div.col-sm-6.col-md-4.col-xf-md-1.d-flex.justify-content-center
        //-   div.card.m-2.w-100
        //-     div.card-body
        //-       h2.card-title Горы
        //-       p.card-text Тест текст
        //-       a.btn.btn-secondary(href="#") Learn more
        //- div.col-sm-6.col-md-4.col-xf-md-1.d-flex.justify-content-center
        //-   div.card.m-2.w-100
        //-     div.card-body
        //-       h2.card-title Горы
        //-       p.card-text Тест текст
        //-       a.btn.btn-secondary(href="#") Learn more
        //- div.col-sm-6.col-md-4.col-xf-md-1.d-flex.justify-content-center
        //-   div.card.m-2.w-100
        //-     div.card-body
        //-       h2.card-title Горы
        //-       p.card-text Тест текст Тест текст Тест текстТест текстТест текстТест текстТест текстТест текстТест текстТест текстТест текстТест текст
        //-       a.btn.btn-secondary(href="#") Learn more
        //- div.col-sm-6.col-md-4.col-xf-md-1.d-flex.justify-content-center
        //-   div.card.m-2.w-100
        //-     div.card-body
        //-       h2.card-title Горы
        //-       p.card-text Тест текст
        //-       a.btn.btn-secondary(href="#") Learn more

    script(type="module" src="/js_pug/index.js")
