doctype html
html
  head
    include headers/meta.pug
    include headers/links.pug
    include headers/scripts.pug
    link(rel='stylesheet', href='/style/users_page_redact.css')
    title User
  body    
    style. 
      .nav-link {
        cursor: pointer;
      }

    ul.nav.nav-pills.mb-2.justify-content-center.navig-div.p-2
      li.nav-item
        a.nav-link#news Новости друзей
      li.nav-item#friends
        a.nav-link Друзья
      li.nav-item
        a.nav-link.active Редактировать профиль
    .d-flex.justify-content-center
      .card-custom-width
        h2 Пользователь: 
          span#user-title

    include feature/return_button.pug
    script(src="/user_redact.js")