doctype html
html
  head
    include headers/meta.pug
    include headers/links.pug
    include headers/scripts.pug
    title User
  body
    div.py-4.text-center.container
      h1 Пользователь
      span 
    div.container
      div.row#users

    script(src="/user.js")
