doctype html
html
  head
    include headers/meta.pug
    include headers/links.pug
    include headers/scripts.pug
    if state
      link(rel='stylesheet', href='/style/main.css')
    else
      link(rel='stylesheet', href='/style/users_page_friends.css')
    title Friends
  body
    style. 
      .nav-link {
        cursor: pointer;
      }

    ul.nav.nav-pills.mb-2.justify-content-center.navig-div.p-2
      li.nav-item
        a.nav-link#news32 Новости друзей
      li.nav-item
        a.nav-link.active Друзья
      li.nav-item#redact
        a.nav-link Редактировать профиль
    .d-flex.justify-content-center
      .card-custom-width
        h2 Пользователь: 
          span#user-title
    .containter
      .row#user
    
    include feature/return_button.pug

    script(src="/user_friends.js")

