doctype html
html
    head
        meta(charset="utf-8")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Главная страница
        link(rel='stylesheet', href='/css/main_page.css')
        link(href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@400;700&display=swap")
    body
        div.container
            div.label 
                h1 Личный кабинет
            div.info-user
                div.icon
                    p empty 
                div.label-login
                    h3 Логин:
                    hr
            div.tools 
                div.label_tools
                    h2 Каталог
                div.buttons
                    div.add-book
                        input(type="button", value="Добавить книгу")
                    div.sort
                        input(type="button", value="Сортировка")
            div.dop-line
                hr  
            div.catalog
                p test 
            div.more-book
                input(type="button", value="Показать ещё")
            
            
