doctype html
html
    head
        meta(charset="utf-8")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Главная страница
        link(rel='stylesheet', href='/css/main_page.css')
        link(rel='stylesheet', href='/css/book_card.css')
        link(href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@400;700&display=swap")
    body
        div.container
            div.label 
                h1 Личный кабинет
            div.info-user
                div.icon
                    input(type="button", value='Загрузить изображение')
                div.label-login
                    h3 Логин: #{login}
                    hr
            div.tools 
                div.label_tools
                    h2 Каталог
                div.buttons
                    div.add-book
                        input(type="button", id="add-book-button", value="Добавить книгу")
                    div.sort
                        input(type="button", value="Сортировка")
            div.dop-line
                hr  
            div.catalog
                div.grid#book-grid
            div.add-book-window
                div.title-close-window
                    div.label-window
                        h1  Добавить книгу
                    div.close-window
                        i(class="fa-solid fa-xmark")
                div.information
                    div.author-book
                        input(type='text', name='author_book', placeholder="Введите автора" required)
                    div.title-book
                        input(type='text', name='title_book', placeholder="Введите название" required)
                    div.img-book
                        input(type='file', id='imageUpload', accept="image/*")
                div.send-button
                    input(type='submit', value="Загрузить книгу")


    script(src='/frontend/main_page.js')
            
            
